<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <form>
                <label for="mySelect">Choice:</label>
                <select  class="form-control" name="mySelect" id="mySelect" ng-change="vm.select()"
                         ng-options="point.name for point in vm.points track by point.id"
                         ng-model="vm.selected"></select>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <form class="form-inline" name="vm.fileForm">
                <div class="form-group">
                    <input name="file" type="file" nv-file-select uploader="vm.uploader" />
                    <button class="btn btn-default" ng-click="vm.upload()" type="submit">Upload</button>
                </div>
                <div ng-show="vm.fileForm.$error">
                    <div ng-repeat="(key, value) in vm.fileForm.$error">{{value}}</div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <nvd3 options='vm.options' data='vm.d3Data' api="vm.api"></nvd3>
        </div>
    </div>
</div>